@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' width='15px' height='15px'%3E%3Ccircle cx='5' cy='5' r='5' fill='%234db5ff' background-color='white' opacity='0.8'/%3E%3C/svg%3E")
      4 4,
    auto;
  /* background-color: #212121; */
  background-color: #1f1f38;
  color: white;
  min-height: 100vh;
  position: relative;
  font-family: "Exo 2", sans-serif, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4db5ff #313131;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #313131;
}

*::-webkit-scrollbar-thumb {
  background-color: #4db5ff;
  border-radius: 20px;
  border: 3px solid #313131;
}
